#boks {
    display: flex;
    border: 1px black solid;
    width: 100%;
    height: 98vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#kaos2 {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 50%;
    border: solid black 1px;
    background-color: white;
}

#kaos {
    width: 100%;
    height: 50%;
}

body {
    background-image: url(brad.jpeg);
}